h1, p, #game {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.gamebox {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 25px;
    padding: 25px;
    margin-top: 10px;
    margin-left: 10px;
    width: 529px;
    background: lightblue;
}